:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.highlight {
  background-color: yellow;
}

.dropdown {
  position: relative;
}
.dropdown__menu {
  position: absolute;
  text-align: left;
  width: 150px;
  background-color: #2A2E39;
  color:#AEB1BA;
  padding: 5px;
}

.dropdown button {
  background-color: #2A2E39;
  color: #BCC9D4;
  border-radius: 0px;
}

.dropdown__option {
  padding: 5px 10px;
  color: #BCC9D4;
  font-size: 14px;
  cursor: pointer;
}

.dropdown__option:hover {
background-color: #2862FF;
}

.bg-blue-100 {
  background-color: #2862FF;

}

.dropdown__sectionlabel {
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.dropdown__menu hr {
  height: 1px;
  background-color: #AEB1BA;
  border: none;
}